.vscode
dataset/cifar10
dataset/reddit/client.csv
dataset/reddit/server_data.txt
dataset/reddit/database.sqlite
model_pt
runs

*/__pycache__
__pycache__
client/__pycache__/*.pyc
server/__pycache__/*.pyc
*.pyc
*.*.pyc
__pycache__/*.pyc
__pycache__/*.*.pyc
dataset/__pycache__/*.pyc
model/__pycache__/*.pyc
model/__pycache__/*.*.pyc